html {
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* make backgroundpic match all screen   */

body {
  background: url("../images/bg1.1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-shadow: 2px 3px 9px grey;
}

header {
  /* background-color: yellow; */
  height: 10%;
}

main {
  /* background-color: pink; */
  width: 100%;
  height: 80%;
  position: relative;
}

button.start-btn {
  cursor: pointer;
}

/* -------------------status ---------------------- */

div.stats {
  display: inline-block;
  position: absolute;
  left: 35px;
  top: 55px;
  height: 10%;
  width: max-content;
  font-size: 22px;
}

div.games-played,
div.remains,
div.accuracy,
div.timeout,
#reset {
  display: inline-block;
  margin: 10px;
}

.stats span {
  /* padding: 0 15px; */
  margin: 0 2px;
}

div.timeout {
  width: 120px;
}

div.timeout img,
div#timer {
  width: 50px;
  margin: auto;
  display: inline-block;
}

.value {
  border-style: outset;
  border-radius: 5px;
}

.label,
.value {
  margin: 8px 0;
}

header,
buttom#reset {
  font-size: 28px;
}

/* -----------------card ---------------------------  */

.cardArea {
  width: 70%;
  height: 80%;
  position: absolute;
  top: 150px;
  left: 46px;
}

.cardContainer {
  height: 25%;
  width: 16.6%;
  margin-top: 20px;
  /* background-color: lightblue; */
  float: left;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.1);
}

.card {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 80%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  /* need remove hidden to show shake effect */
}

.container:hover .card {
  opacity: 0.3;
}

.image,
.coveringSide {
  height: 100%;
  width: 100%;
  position: absolute;
  /* transition: transform 1s;
  backface-visibility:hidden; */
}

.image img,
.coveringSide img {
  width: 99%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  top: 50%;
  /* transition: transform .2s; */
  transform: translateY(-50%);
  /* below two line make it stay at original place after flip */
  display: block;
  margin: auto;
}

.card .image {
  transform: rotateY(180deg);
  transform: translateZ(-1px);
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card .coveringSide {
  transform: translateZ(1px);
}

img:hover {
  webkit-filter: blur(4px);
  /* Chrome, Safari, Opera */
  filter: drop-shadow(8px 8px 10px gray)
}

.shakeme {
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* -------------- introduction --------------------- */

div.intro {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 186px;
  right: 7px;
}

.intro p {
  /* margin: 10px; */
}

/*  ------------------welcom--modal -----------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(245, 241, 241, 0.36);
}

.modal {
  display: block;
  width: 456px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  /* background: white; */
  /* box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9); */
}

.closed {
  display: none;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* padding: 20px 50px 20px 20px; */
}

.start-btn {
  position: absolute;
  bottom: 154px;
  width: 39%;
  right: 138px;
}

.modal-guts img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modal-guts h3,
.modal-guts p {
  text-align: center;
}

/* -----------gomodal------------------ */

#go-modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 241, 241, .6);
  display: none;
  z-index: 10;
}

#go-modelBody {
  position: fixed;
  left: 72%;
  top: 80%;
  width: 50%;
  min-width: 50%;
  min-height: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.countdown {
  color: red;
}

/* -------------win modal ------------- */

#win-modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 10;
}

#win-modelBody {
  position: fixed;
  left: 65%;
  top: 50%;
  width: 89%;
  min-width: 87%;
  min-height: 67%;
  background-image: url(../images/win.1.jpg);
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

/* -------------lose modal ------------ */

#modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 10;
}

#modelBody {
  position: fixed;
  left: 68%;
  top: 50%;
  width: 93%;
  min-width: 50%;
  min-height: 83%;
  background-image: url(../images/lostmodal.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

/* ----------timeout-modal------------------- */

#timeout-modelShadow {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

#timeout-modelBody {
  position: fixed;
  left: 65%;
  top: 50%;
  width: 89%;
  min-width: 87%;
  min-height: 67%;
  background-image: url(../images/timeoutModal.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
}

/* ------------ for ipad -------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  main {
    /* background-color: pink; */
    width: 100%;
    height: 52%;
    position: relative;
  }
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 2px 26px;
  }
  div.stats {
    display: inline-block;
    position: absolute;
    /* left: -50px; */
    top: 60px;
    height: 17%;
    width: max-content;
    font-size: 20px;
  }
  div.timeout {
    float: right;
    position: relative;
    bottom: 6px;
    right: 164px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 1px 23px;
  }
  #reset,
  #togglePauseClock {
    position: relative;
    left: 37px;
    font-size: 18px;
  }
  #togglePauseClock {
    margin-left: 90px;
  }
  .cardArea {
    width: 85%;
    height: 84%;
    position: absolute;
    left: 5px;
    /* bottom: -12px; */
    top: 167px;
    margin-top: 0px;
  }
  .cardContainer {
    height: 27%;
    width: 25.6%;
    /* height: 17%;
  width: 16.6%; */
    /* background-color: lightblue; */
    float: left;
    margin: 0 11px;
    cursor: pointer;
  }
  .card {
    background-color: transparent;
    border: 0;
    height: 100%;
    width: 97%;
    position: relative;
    left: 10%;
    top: 5%;
    transition: transform 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  .image img,
  .coveringSide img {
    width: 77%;
    height: 89%;
    border-radius: 50%;
    position: relative;
    top: 50%;
    /* transition: transform .2s; */
    transform: translateY(-50%);
    display: block;
    margin: auto;
  }
  div.intro {
    width: 38%;
    height: 60%;
    position: absolute;
    top: 186px;
    right: 45px;
    padding: 0px;
  }
  .h3,
  h3 {
    width: 180px;
    font-size: 1.6rem;
  }
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 50%;
    top: 59%;
    width: 65%;
    min-width: 65%;
    min-height: 60%;
  }
  .modal {
    display: block;
    width: 456px;
    max-width: 100%;
    height: 632px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    /* background: white; */
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
}

/* ----------for iphone 6,6S,7,8---------- */

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: url("../images/phoneback2.1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  div.stats {
    width: max-content;
    height: 25%;
    color: #944caf;
    font-size: 18px;
    position: relative;
    top: 0px;
    left: 0px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  #reset {
    height: 18%;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 3px;
  }
  .label,
  .value {
    margin: 8px 6px;
  }
  div.timeout {
    position: relative;
    left: 65px;
  }
  #clock {
    border-radius: 50%;
  }
  #togglePauseClock {
    margin-left: 33px;
    position: relative;
    left: 171px;
    height: 36px;
    font-size: 16px;
    padding: 0px 10px;
    width: 68px;
  }
  .btn-primary {
    color: #fff;
    background-color: #db86e9;
    border-color: #db86e9;
    font-size: 16px;
  }
  #reset {
    position: relative;
    right: 48px;
    height: 36px;
    padding: 0px 10px;
    width: 68px;
  }
  .cardArea {
    width: 85%;
    height: 84%;
    position: absolute;
    top: 138px;
    left: 8px;
  }
  .cardContainer {
    height: 13%;
    width: 25.6%;
    /* background-color: lightblue; */
    float: left;
    margin-top: 13px;
    cursor: pointer;
  }
  div.cardContainer:hover {
    transform: scale(1.1);
  }
  .cardContainer img:hover {
    webkit-filter: blur(4px);
    /* Chrome, Safari, Opera */
    filter: drop-shadow(8px 8px 10px gray)
  }
  div.intro {
    width: 30%;
    height: 63%;
    position: absolute;
    top: 170px;
    right: 10px;
    padding: 0;
  }
  .h3 {
    font-size: 1em;
  }
  p {
    font-size: 15px;
  }
  .modal {
    display: block;
    width: 350px;
    max-width: 100%;
    height: 634px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 49%;
    top: 51%;
    transform: translate(-50%, -51%);
    box-shadow: 0 0 55px 10px rgba(1, 0, 0, 0.6);
  }
  #modal-overlay .modal {
    background-size: contain;
    background-position: center;
  }
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 50%;
    top: 59%;
    width: 65%;
    min-width: 65%;
    min-height: 60%;
  }
  button.start-btn {
    position: relative;
    left: 116px;
    border-radius: 11%;
  }
}

/* ---------- iphone 4 ------------- */

@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: url("../images/phoneback2.1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  div.stats {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 13%;
    width: max-content;
    font-size: 12px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 1px 5px;
    height: 26px;
  }
  div.remains {
    position: relative;
    left: 37px;
  }
  #togglePauseClock {
    right: 73px;
  }
  div.timeout {
    position: relative;
    left: 127px;
    margin: 0px;
    width: 90px;
  }
  div.timeout img,
  div#timer {
    width: 35px;
    margin: 0 auto;
    display: inline-block;
  }
  #togglePauseClock,
  #reset {
    position: relative;
    padding: 0px 6px;
    font-size: 12px;
    padding: 2px;
    height: auto;
  }
  #togglePauseClock {
    right: 82px;
  }
  #reset {
    right: 70px;
    bottom: 0px;
  }
  .modal {
    width: 65%;
    max-width: 100%;
    height: 65%;
  }
  .start-btn {
    position: absolute;
    bottom: 81px;
    width: 39%;
    right: 62px;
  }
  .cardArea {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 62px;
    left: 10px;
    padding: 0;
  }
  .cardContainer {
    height: 17%;
    width: 16.6%;
    margin-top: 34px;
    /* background-color: lightblue; */
    float: left;
    cursor: pointer;
  }
  .card {
    height: 100%;
    width: 95%;
  }
  div.intro {
    width: 90%;
    height: 9%;
    position: absolute;
    top: 326px;
    right: 36px;
    font-size: 10px;
  }
  .h3,
  h3 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .intro p {
    margin-bottom: 0px;
  }
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 49%;
    top: 53%;
    width: 60%;
    min-width: 54%;
    min-height: 53%;
  }
}