html {

  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
  
  padding: 0;
}

/* make backgroundpic match all screen   */

body {
  background: url("../images/bg1.1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-shadow: 2px 3px 9px grey;
}

header {
  height: 10%;
}

main {
  width: 100%;
  height: 80%;
  position: relative;
}

button.start-btn {
  cursor: pointer;
}

/* -------------------status ---------------------- */

div.stats {
  margin-top: 45px;
    width: max-content;
    font-size: 22px;
    text-align: center;
}

div.games-played,
div.remains,
div.accuracy,
div.timeout,
#reset {
  display: inline-block;
  margin: 10px;
}

.stats span {
  margin: 0 2px;
}

div.timeout {
  width: 120px;
}

div.timeout img,
div#timer {
  width: 50px;
  margin: auto;
  display: inline-block;
}

.value {
  border-style: outset;
  border-radius: 5px;
}

.label,
.value {
  margin: 8px 0;
}

header,
buttom#reset {
  font-size: 28px;
}

/* -----------------card ---------------------------  */

.cardArea {
  width: 70%;
  height: 80%;
  left: 45px;
}

.cardContainer {
  height: 20vmin;
  width: 20vmin;
  margin-top: 20px;
  float: left;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(1.1);
}

.card {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 80%;
  position: relative;
  /* backface-visibility: hidden; */
  /* need remove hidden to show shake effect */
}
.container:hover .card {
  opacity: 0.3;
}

.image,
.coveringSide {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.coveringSide {
  backface-visibility:hidden;
}

.image img,
.coveringSide img {
  width: 99%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* below two line make it stay at original place after flip */
  display: block;
  margin: auto;
}

.card .image {
  transform: rotateY(180deg);
  transform: translateZ(-1px);
}

.card.is-flipped .coveringSide,.card.card.is-flipped .image {
  transform: rotateY(180deg);
}

.card .coveringSide {
  transform: translateZ(1px);
}

.card img:hover {
  webkit-filter: blur(4px);
  filter: drop-shadow(8px 8px 10px gray);
}

.shakeme {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* -------------- introduction --------------------- */

div.intro {
  width: 30%;
  height: 60%;
  right: 7px;
}

.intro p {

}

/*  ------------------welcom--modal -----------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(245, 241, 241, 0.36);
}

.modal {
  display: block;
  width: 456px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  /* background: white; */
  /* box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9); */
}

.closed {
  display: none;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.start-btn {
  position: absolute;
  bottom: 154px;
  width: 39%;
  right: 138px;
}

.modal-guts img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modal-guts h3,
.modal-guts p {
  text-align: center;
}

/* -----------gomodal------------------ */

#go-modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 241, 241, .6);
  display: none;
  z-index: 10;
}

#go-modelBody {
  position: fixed;
  left: 72%;
  top: 80%;
  width: 50%;
  min-width: 50%;
  min-height: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.countdown {
  color: red;
}

/* -------------win modal ------------- */

#win-modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 10;
}

#win-modelBody {
  position: fixed;
  left: 65%;
  top: 50%;
  width: 89%;
  min-width: 87%;
  min-height: 67%;
  background-image: url(../images/win.1.jpg);
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

/* -------------lose modal ------------ */

#modelShadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  z-index: 10;
}

#modelBody {
  position: fixed;
  left: 68%;
  top: 50%;
  width: 93%;
  min-width: 50%;
  min-height: 83%;
  background-image: url(../images/lostmodal.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

/* ----------timeout-modal------------------- */

#timeout-modelShadow {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

#timeout-modelBody {
  position: fixed;
  left: 65%;
  top: 50%;
  width: 89%;
  min-width: 87%;
  min-height: 67%;
  background-image: url(../images/timeoutModal.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
}


 /* -------------------- bootstrap  media query ---------------------- */

 /*--------- 1 -- Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){ 
  body {
    background: url("../images/bg-11.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
  }

  header {
    height: 1%;
}

main {

  height: 98%;
}

  div.stats {
    margin-top: 0px;
    width: max-content;
    font-size: 22px;
    text-align: center;
}

.cardArea {
  width: 99%;
  height: 52%;
  /* left: 46px; */
}

.cardContainer {
  height: 15.6vmin;
  width: 15.6vmin;
  float: left;
  margin-top: 4px;
  cursor: pointer;
}



div.intro {
  width: 94%;
  height: 20%;
  right: 0px;
  display: inline-table;
  text-align: center;
}
.intro p {
  margin-bottom: 0px;
}
.h3, h3 {
  font-size: 1.4rem;
}

 }/* ---end small device --- */


/* ------  Medium devices (desktops, 992px and up1200px) -------*/
@media only screen and (min-width: 992px) and (max-width: 1200px){ 
  body {
    background: url("../images/bg-11.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
  }

  header {
    height: 1%;
}

main {

  height: 98%;
}

  div.stats {
    margin-top: 0px;
    width: max-content;
    font-size: 22px;
    text-align: center;
}

.cardArea {
  width: 99%;
  height: 52%;
  /* left: 46px; */
}

.cardContainer {
  height: 15.6vmin;
  width: 15.6vmin;
  float: left;
  margin-top: 4px;
  cursor: pointer;
}



div.intro {
  width: 94%;
  height: 20%;
  right: 0px;
  display: inline-table;
  text-align: center;
}
.intro p {
  margin-bottom: 0px;
}
.h3, h3 {
  font-size: 1.4rem;
}

 }/* ---end medium device --- */



@media only screen and (min-width: 1200px){
  .cardArea {
    width: 21%;
    height: 80%;
    left: 45px;
    flex: 0 0 71%;
}
.cardContainer {
 
  margin-top: 15px; 
}

div.intro{
  margin-left: 32px;
}
}/* ---end big device --- */




 /* ------------------  device media query ------------------------- */

/* ---------- iphone 4 ------------- */

@media screen and (min-width: 320px) and (max-width: 480px)  {
  body {
    background: url("../images/phoneback2.1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  main {
    width: 100vmin;
    height: 89%;
  }
  .row {
   
    margin-left: 0px;
  }

  
  div.stats {
    
    left: 0px;
    margin-top: 0px;
 
    height: 13%;
    width: max-content;
    font-size: 12px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 1px 5px;
    height: 26px;
  }
  div.remains {
   
  }
  #togglePauseClock {
    right: 73px;
  }
  div.timeout {
    
    margin: 0px;
    width: 90px;
  }
  div.timeout img,
  div#timer {
    width: 35px;
    margin: 0 auto;
    display: inline-block;
  }
  #togglePauseClock,
  #reset {
    font-size: 12px;
    padding: 2px;
    height: auto;
  }
  #togglePauseClock {
    right: 118px;
  }
  #reset {
    left: 203px;
    bottom: 23px;
  }
  .modal {
    width: 65%;
    max-width: 100%;
    height: 65%;
  }
  .start-btn {
    position: absolute;
    bottom: 81px;
    width: 39%;
    right: 88px;
  }
  .cardArea {
    width: 64%;
    height: 57%;
    left: 0px;
    bottom: 18px;
  }
  .cardContainer {
    height: 15vmin;
    width: 15vmin;
    margin-top: 28px;
    float: left;
    cursor: pointer;
  }
  .card {
    height: 100%;
    width: 95%;
  }


  div.intro {
    right: 0px;
    width: 90%;
    height: 9%;
    bottom: 16px;
    
    font-size: 10px;
  }
  .h3,
  h3 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .intro p {
    margin-bottom: 0px;
  }
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 49%;
    top: 53%;
    width: 60%;
    min-width: 54%;
    min-height: 53%;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    z-index: 50;
  }
  .modal {
    width: 93%;
    max-width: 94%;
    height: 85%;
  }
  #go-modelShadow {
    /* display: block; */
    position: fixed;
  

   
  }
  #go-modelBody {
    position: fixed;
    left: 30%;
    top: 35%;
    width: 38%;
    min-width: 35%;
    min-height: 27%;
}
  #go-modelBody {
    position: fixed;
    left: 33%;
    top: 25%;
    width: 19%;
    min-width: 23%;
    min-height: 13%;
  }
  .countdown {
    margin-top: 20px; 
}

  
} /* --- end iphone 4 -- */



/* ----------for iphone 6,6S,7,8---------- */

@media screen and (min-width: 375px) and (max-width: 667px) {
  body {
    background: url("../images/phoneback2.1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vmin;
    margin: 0 auto;
  }
  /* div.stats {
    width: max-content;
  
    color: #944caf;
    font-size: 18px;
 
    margin-top: 28px;
    top: 0px;
    left: 0px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  #reset {
    height: 18%;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 3px;
  }
  .label,
  .value {
    margin: 8px 6px;
  }
  div.timeout {
    position: relative;
    left: 65px;
  }
  #clock {
    border-radius: 50%;
  }
  #togglePauseClock {
    margin-left: 33px;
    position: relative;
    height: 36px;
    font-size: 16px;
    padding: 0px 10px;
    width: 68px;
  }
  .btn-primary {
    color: #fff;
    background-color: #db86e9;
    border-color: #db86e9;
    font-size: 16px;
  }
  #reset {
    position: relative;
   
    height: 36px;
    padding: 0px 10px;
  } */

  .cardArea {
    width: 64%;
    height: 74%;
    left: 0px;
    bottom: 15px;
}

  .cardContainer {
    height: 24vmin;
    width: 24vmin;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}
  /* div.cardContainer:hover {
    transform: scale(1.1);
  }
  .cardContainer img:hover {
    webkit-filter: blur(4px);
  
    filter: drop-shadow(8px 8px 10px gray)
  }
  div.intro {

    text-align: center;
    padding-top: 30px;
  }
  .h3 {
    font-size: 1em;
  }
  p {
    font-size: 15px;
  }
  .modal {
    display: block;
    width: 350px;
    max-width: 100%;
    height: 634px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 49%;
    top: 51%;
    transform: translate(-50%, -51%);
    box-shadow: 0 0 55px 10px rgba(1, 0, 0, 0.6);
  }
  #modal-overlay .modal {
    background-size: contain;
    background-position: center;
  }

  div#modal.modal {
    position: absolute;
    left: 182px;
    top: 353px;
}
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 50%;
    top: 59%;
    width: 65%;
    min-width: 65%;
    min-height: 60%;
  }
  button.start-btn {
    position: relative;
    left: 80px;
    border-radius: 11%;
  } */
 

}


/* ------------ for ipad -------------------- */
/* 
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    width: 100%;
    height: 52%;
    position: relative;
  }
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 2px 26px;
  }
  div.stats {
    display: inline-block;
 
    margin-top: 60px;

    width: max-content;
    font-size: 20px;
  }
  div.timeout {
    float: right;
    position: relative;
    bottom: 6px;
  }
  div.games-played,
  div.remains,
  div.accuracy,
  div.timeout,
  #reset {
    display: inline-block;
    margin: 1px 23px;
  }
  #reset,
  #togglePauseClock {
    position: relative;
    left: 37px;
    font-size: 18px;
  }
  #togglePauseClock {
    margin-left: 90px;
  }
  .cardArea {
    width: 85%;
    margin-top: 0px;
  }
  .cardContainer {
    height: 27%;
    width: 25.6%;
    float: left;
    margin: 0 11px;
    cursor: pointer;
  }
  .card {
    background-color: transparent;
    border: 0;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .coveringSide {
    backface-visibility: hidden;
  }
  .image img,
  .coveringSide img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
  }
  div.intro {
    width: 38%;
    height: 60%;
    padding: 0px;
  }
  .h3,
  h3 {
    width: 180px;
    font-size: 1.6rem;
  }
  #timeout-modelBody,
  #modelBody {
    position: fixed;
    left: 50%;
    top: 59%;
    width: 65%;
    min-width: 65%;
    min-height: 60%;
  }
  .modal {
    display: block;
    width: 456px;
    max-width: 100%;
    height: 632px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
} */